.container {
    padding: 45px;
    background-image: url("public/section1-bg.png");
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 900px;
    color: white;
}

.nav {
    display: flex;
    color: white;
    gap: 40px;
    width: fit-content;
    position: absolute;
    top: 45px;
    flex-wrap: wrap;
    justify-content: center;
}

.nav a {
    width: fit-content;
    cursor: pointer;
}

.heading {
    max-width: 829px;
    text-align: center;
    font-size: 48px;
    margin-top: 20px;
    margin-bottom: 50px;
}

.button {
    background-color: #4985FF;
    border-radius: 30px;
    padding: 15px 36px;
    border: none;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease-out;
}

.button:hover {
    background-color: #76a1f8;
}
