.card_item {
  display: flex;
  width: 30%;
  min-width: 300px;
}
.container {
  align-items: center;
  justify-content: center;
  width: 110px;
}
.outer_circle {
  width: 110px;
  height: 110px;
  border: 1px solid #e0e0e0;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  box-sizing: border-box;
}

.inner_circle {
  border: 1px solid #4985ff;
  border-radius: 50%;
  width: 90px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  box-sizing: border-box;
}
.card_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.MyCard_text {
  margin: 12% 0 0 18px;
}
.card_title_text {
  font-size: 18px;
  font-weight: 600;
  line-height: 21.94px;
  text-align: left;
  color: black;
}
.card_description_text {
  font-size: 14px;
  font-weight: 400;
  line-height: 22.19px;
  text-align: left;
  color: #999999;
}
